@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #181b41;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 2rem;
    border-radius: 8px;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1.5px;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #181b41;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(134, 199, 87);
}

.movie-info span.orange{
    color: rgb(212, 151, 46);
}

.movie-info span.red{
    color: rgb(196, 61, 81);
}